requests~=2.31.0
pytest~=7.3.2
structlog~=24.1.0
curlify~=2.2.1
pydantic~=2.6.1
datamodel_code_generator~=0.25.4
pyhamcrest~=2.1.0
psycopg2-binary~=2.9.9
records~=0.5.3
sqlalchemy~=1.4.46
sqlacodegen~=2.3.0
faker~=24.4.0
mimesis~=15.1.0
vyper_config~=1.2.1